*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #F5EFED;
}

::-webkit-scrollbar {
    width: 1vw;
    border-right: rgb(15,15,15) 1px solid;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(51,51,51); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(10,10,10); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0,0,0); 
  }

#main{
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

#webpaper-heading{
    grid-area: 1/1/3/17;
    background-color: rgb(40,40,40);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    max-height: 20vh;
    height: 20vh;
    flex-direction: row;

}

#webpaper{
    flex-basis: 40%;
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1vw;
    color: #F5EFED; 
    font-weight: 500; 
}

.date{
    flex-basis: 30%;
}

.temp{
    flex-basis: 30%;
}

#NavBar{
    border-top: 1px solid rgb(51,51,51);
    max-height: 7vh;
    height: 7vh;
    grid-area: 3/1/4/17;
    background-color: rgb(30,30,30);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(51,51,51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}



#NavBar ul{
    height: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#NavItems li{
    height: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

#NavItems li:hover{
    cursor: pointer;
    background-color: black;
    text-decoration: none;
}

#NavItems li a:active{
    background-color: black;
    text-decoration: none;
}

#tech{
    background-color: rgb(15,15,15);
}

#NavItems li a:link{
    text-decoration: none;
}

#menu{
    height: 73vh;
    max-height: 73vh;
    box-sizing: border-box;
    grid-area: 4/1/15/2;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    width: 14vw;
}

.menuhead{
    border-top: 1px solid rgb(51,51,51);
    border-bottom: 1px solid rgb(51,51,51);
    flex-basis: 9%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    letter-spacing: 3px;
    box-sizing: border-box;
}

#menup{
    display: flex;
    height: 100%;
    font-size: 1.1rem;
    width: 85%;
    align-items: center;
    padding-left: 15%;
}

.menuhead i{
    width: 15%;
}

#menubody{
    flex-basis: 91%;
    display: flex;
    box-sizing: border-box;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 18%;
    padding-left: 18%;
    flex-direction: column;
    font-size: 1rem;
}

.menuitems{
    margin-bottom: 10px;
    color: rgb(150,150,150);
}

.menuitems:hover{
    cursor: pointer;
    color: #F5EFED;
}

#news{
    height: 73vh;
    grid-area: 4/2/15/17;
    box-sizing: border-box;
    padding: 50px;
    background-color: rgb(25,25,25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
}

.new{
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    height: 35vh;
    min-height: 35vh;
    border-bottom: 3px solid rgb(51,51,51);
    flex-direction: row;
}

.vid{
    flex-basis: 35%;
    object-fit: cover;
}

.iframe{
    height: 100%;
    width: 100%;
    border: 0;
    object-fit: cover;
}

.newstitle{
    flex-basis: 25%;
    font-size: 1.3rem;
    font-weight: 100;
}

.newscont{
    box-sizing: border-box;
    padding-top: 2.5%;
    padding-bottom: 1%;
    flex-basis: 75%;
    overflow-y: auto;
    color: rgb(170,170,170);
}

.readmore{
    text-decoration: none;
    color: rgb(5, 51, 136);
}


.paras{
    display: flex;
    flex-basis: 65%;
    box-sizing: border-box;
    padding-left: 25px !important;
    text-align: justify;
    flex-direction: column;
}
    
@media only screen and (min-width: 800px){

.new{
    background-image: none !important;
}

.viewfulln{
    display: none;
}

.viewfull{
    display: none;
}

#menumob{
    display: none;
}

.sidenav{
    display: none;
}

}

@media only screen and (max-width: 800px){
    #menu {
      display: none;
    }

    .sidenav{
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        width: 0;
        height: 100%;
        transition: 0.5s;
        background-color: #111;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .ainnav{
        text-decoration: none;
        font-size: 0rem;
        color: #818181;
        transition: 0.3s;
        flex-basis: 6%;
        cursor: pointer;
    }

    .ainnav:hover{
        color: white;
    }

    #menumob{
        width: fit-content;
        font-size: 1rem;
        border: 1px solid rgb(51,51,51);
        border-radius: 50px;
        padding-left: 2%;
        padding-right: 2%;
        cursor: pointer;
    }



    #webpaper-heading{
        max-height: 15vh !important;
        min-height: 15vh !important;
        height: 15vh !important;
    }

    #NavBar{
        max-height: 6vh !important;
        min-height: 6vh !important;
        height: 6vh !important;
        display: flex;
        justify-content: flex-end;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 5%;

    }

    .closebtn{
        padding-top: 3%;
        padding-left: 80%;
        margin-bottom: 7%;
    }

    .sidenavitems{
        margin-left: 6%;
        margin-right: 6%;
        padding-left: 12%;
        display: flex;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #news{
        grid-area: 4/1/auto/17;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0%;
        max-height: 79vh !important;
        min-height: 79vh !important;
        height: 79vh !important;
    }
    
    .new{
        margin: 4%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        border: 1px solid rgb(51,51,51);
        height: 60vh;
        min-height: 60vh;
        overflow: hidden;
        max-height: 50vh;
        padding: 0;
        border-radius: 10px;
    }

    
    .vid{
        display:none;
    }

    .iframe{
        display: none;
    }

    .newstitle{
        flex-basis: 100%;
        box-sizing: border-box;
        padding-left: 3.5%;
        padding-right: 3.5%;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 4%;
    }


    .newscont{
        display: none;
    }

    .paras{
        display: flex;
        flex-basis: 100% !important;
        box-sizing: border-box;
        padding-left: 0px !important;
        text-align: none !important;
        flex-direction: column;
    }

    #NavBar ul{
        display: none;
    }

    #webpaper{
        font-size: 3rem;
    }

    .viewfulln{
        display: flex;
        margin-top: 2%;
        font-size: 0.75rem;
        border: rgb(170,170,170) solid 1px;
        box-sizing: border-box;
        border-radius: 5px;
        width: fit-content;
        justify-content: center;
        align-items: center;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .viewfull{
        color: rgb(170,170,170);
        text-decoration: none;
    }

  }

  @media only screen and (max-width: 800px) and (orientation: landscape){
    #menu {
      display: none;
    }

    #webpaper-heading{
        max-height: 15vh !important;
        min-height: 15vh !important;
        height: 15vh !important;
    }

    #NavBar{
        max-height: 5vh !important;
        min-height: 5vh !important;
        height: 5vh !important;
    }

    #news{
        grid-area: 4/1/auto/17;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        padding: 0%;
        max-height: 80vh !important;
        min-height: 80vh !important;
        height: 80vh !important;
    }

    .new{
        margin: 4%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        border: 1px solid rgb(51,51,51);
        height: 60vh;
        min-height: 60vh;
        overflow: hidden;
        max-height: 60vh;
        background-color: rgb(30,30,30);
        padding: 0;
        border-radius: 10px;
        font-size: 3rem !important;
    }

    .vid{
        display:none;
    }

    .iframe{
        display: none;
    }

    .newstitle{
        flex-basis: 100%;
        box-sizing: border-box;
        padding-left: 3.5%;
        padding-right: 3.5%;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 4%;
    }


    .newscont{
        display: none;
    }

    .paras{
        display: flex;
        flex-basis: 100% !important;
        box-sizing: border-box;
        padding-left: 0px !important;
        text-align: none !important;
        flex-direction: column;
    }

    #NavBar ul{
        display: none;
    }

    #webpaper{
        font-size: 3rem;
    }

    .viewfulln{
        display: flex;
        margin-top: 2%;
        font-size: 0.75rem;
        border: rgb(170,170,170) solid 1px;
        box-sizing: border-box;
        border-radius: 5px;
        width: fit-content;
        justify-content: center;
        align-items: center;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .viewfull{
        color: rgb(170,170,170);
        text-decoration: none;
    }

  }